@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: auto;
	background: #525252;
}

.flipbook {
    width: 1000px;
    height: 600px;
    aspect-ratio: 5/3 ;
}

/* UNTUK SAMPUL */
.flipbook .sampul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D9D5CC !important;
    color: #fff;
    font-size: 16.5px;
    border: none; 
    align-items: center;
    position: relative;
    text-align: center;
}

.flipbook .sampul .penerbit {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16.5px;
    opacity: 0.8;
}
/* BATAS SAMPUL */

/* MUSIK */
.playlistmusik {
    color: #fff;
    font-size: 16.5px;
}
.musik {
    width: 50%;
    height: 50%;
}
.playlist {
    list-style: none;
    width: 100%;
    padding: 20px;
    size: 5px;
}
/* BATAS MUSIK */

/* MUSIK 1 */
.playlistmusik1 {
    color: #fff;
    font-size: 16.5px;
}
.musik1 {
    width: 50%;
    height: 50%;
}
.playlist1 {
    list-style: none;
    width: 100%;
    padding: 20px;
    size: 5px;
}
/* BATAS MUSIK 1 */

/* JUDUL */
.flipbook .foto1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 16.5px;
}

/* UNTUK KERTAS PUTIHNYA */
.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
}
/* BATAS KERTAS PUTIHNYA */

/* UNTUK FOTO 1 & 2 */
.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}
/* BATAS FOTO 1 & 2 */

/* UKURAN */
/* Media Query */
/* UNTUK LATOP */
@media (max-width: 1200px) {
    .flipbook {
        width: 800px;
        height: 480px;
    }
    .playlistmusik {
        font-size: 16.5px; /* Kurangi ukuran font agar pas */
        max-width: 90%;
    }
    .sampul, .penerbit{
        font-size: 14px;
    }
}
/* UNTUK TABLET BESAR */
@media (max-width: 992px) {
    .flipbook {
        width: 600px;
        height: 360px;
    }
    .playlistmusik {
        font-size: 14px; /* Kurangi ukuran font agar pas */
        max-width: 90%;
    }
    .sampul .penerbit {
        font-size: 14px;
    }
}

/* UNTUK TABLET */
@media (max-width: 768px) {
    .flipbook {
        width: 500px;
        height: 400px;
    }
    
    .playlistmusik {
        font-size: 8px; /* Kurangi ukuran font agar pas */
        max-width: 90%;
    }
    .flipbook .sampul {
        font-size: 8px;
    }
    .flipbook .sampul .penerbit {
        font-size: 8px;
    }
}

/* UNTUK HP */
@media (max-width: 450px) {
    .flipbook {
        width: 330px;
        height: 210px;
    }
    
    .playlistmusik {
        font-size: 6px; /* Kurangi ukuran font agar pas */
        max-width: 95%;
        top: 10px;
    }
    .flipbook .sampul {
        font-size: 6px;
    }
    .flipbook .sampul .penerbit {
        font-size: 6px;
    }
}